llama-cpp-python
termcolor
langchain
huggingface_hub
langchain_community
langchain_huggingface
chromadb
pypdf
python-docx
Flask
flask-cors
authlib
python-dotenv
pymupdf
langchain-chroma
pymongo
